
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


header {
  background: #f2f2f2;
  border-bottom: 2px solid #ddd;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

#menuBtn {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

#logo {
  height: 70px;
}

#data {
  font-weight: bold;
  font-size: 18px;
}


nav ul {
  display: flex;
  justify-content: center;
  gap: 0;
  margin: 10px 0;
  list-style: none;
  border-top: 1px solid #0073e6;
  border-bottom: 1px solid #0073e6;
  padding: 10px 0;
}

nav li {
  border-right: 1px solid #0073e6;
  padding: 0 30px;
}

nav li:last-child {
  border-right: none;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  color: #0073e6;
}


main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.noticia {
  background: #fff;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.08);
}

.noticia img {
  max-width: 100%;
  border-radius: 6px;
  margin-top: 8px;
}


.destaque h1 {
  font-size: 28px;
  line-height: 1.3;
  color: #4d2600; 
  margin: 10px 0;
}

.destaque h3 {
  color: #b30000; 
  font-weight: bold;
  margin-bottom: 6px;
}

.destaque p {
  color: #555;
  font-size: 16px;
}

.destaque-vermelho {
  color: red;
  font-weight: bold;
}

/* Categorias */
.categoria {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
}

.categoria.brasil {
  color: brown;
}

.categoria.confira {
  color: green;
}

.categoria.alerta {
  color: orange;
}

/* Notícia comum */
.noticia p {
  font-size: 14px;
  line-height: 1.5;
}


footer {
  text-align: right;
  padding: 10px 20px;
  background: #f2f2f2;
  border-top: 2px solid #ddd;
  font-size: 12px;
  color: #555;
}
